* {
    box-sizing: border-box;
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.banner {
    width: 100%;
    height: 850px;
    background-image: url("/assets/images/tim-van-der-kuip-CPs2X8JYmS8-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
}

.headerImage {
    
}

.container {
    margin: 0;
}

.left-header {
    padding-top: 300px;
    padding-bottom: 100px;
}

.left-image {
    background-color: #ff9a00;
}

@media only screen and (max-width: 800px) {
    .mainNav {
       display: none;
    }
}




























