* {
    box-sizing: border-box;
    background-color: black;
    margin: 0px;
    padding: 0px;
    /* background-color: white; */
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    /* font-size: 14px; */
}

.banner {
    width: 100%;
    height: 850px;
    background-image: url("/assets/images/tim-van-der-kuip-CPs2X8JYmS8-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
}

.bannerCover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.bannerImage {
    width: 320px;
    height: 250px;
    background-image: url("/assets/images/141790958.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-bottom:  100px;
    position: relative;
    top: 260px;
}

.bannerCover image {
    width: 300px;
}

.container {
    max-width: 100% !important;
    --bs-gutter-x: 0rem !important;
    margin-right: 0px !important;
}

.row {
    width: 100%;
    --bs-gutter-x: 0rem !important;
}

.navBar {
    position: fixed;
    top: 0px;
    z-index: 5;
    background-color: white;
    padding-bottom: 5px;
    padding-top: 20px;
    width: 100%;
    margin-right: 0px;
}

.navBar div {
    background-color: white;
}

.navBar .leftSide {
    background-color: white;
    /* width: 40%; */
}

.navBar .leftSide ul {
    background-color: white;
    display: inline-block;
    list-style-type: none;
    /* float: left; */
}

.navBar .leftSide ul li {
    background-color: white;
    list-style-type: none;
    display: inline-block;
}

.navBar .rightSide {
    background-color: white;
    /* width: 60%; */
}

.navBar ul li {
    background-color: white;
    display: inline;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
}

.navBar ul {
    background-color: white;
    list-style-type: none;
    /* float: right; */
}

.navBar svg {
    background-color: white;
    /* background-color: black; */
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.aboutUsD {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}

.aboutUsD p {
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 30px;
}

.aboutUsD h3 {
    font-weight: bold;
    color: goldenrod !important;
    text-align: center;
    color: white;
}

.mainNav {
    z-index: 5;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    position: fixed;
    top: 60px;
    display: flex;
    flex-wrap: nowrap;
    background-color: #0C056D;
}

.mainNav .leftSide {
    width: 30%;
    background-color: #0C056D;
}

.mainNav .leftSide div {
    width: 80px;
    height: 60px;
    background-image: url("/assets/images/141790958.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
}

.mainNav .rightSide {
    background-color: #0C056D;
    width: 70%;
}

.mainNav .rightSide ul li {
    display: inline-block;
    background-color: #0C056D;
    color: white;
    padding-left: 40px;
}

.mainNav .rightSide ul li:nth-child(1) {
    color: goldenrod;
}

.mainNav .rightSide ul {
    padding-top: 17px;
    margin-right: 20px;
    float: right;
    display: inline-block;
    background-color: #0C056D;
}

.footer {
    position: fixed;
    bottom: 0px;
    z-index: 5;
    background-color: #0C056D;
    /* padding-bottom: 5px; */
    padding-top: 5px;
    width: 100%;
    margin-right: 0px;
}

.footer div {
    background-color: #0C056D;
}

.footer .leftSide {
    width: 25%;
    background-color: #0C056D;
    /* width: 40%; */
}

.footer .leftSide ul {
    background-color: #0C056D;
    display: inline-block;
    list-style-type: none;
    /* float: left; */
}

.footer .leftSide ul li {
    background-color: #0C056D;
    list-style-type: none;
    display: inline-block;
}

.footer .rightSide {
    width: 75%;
    background-color: #0C056D;
    /* width: 60%; */
}

.footer ul li {
    background-color: #0C056D;
    display: inline;
    color: white;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
}

.footer ul {
    margin-top: 15px;
    background-color: #0C056D;
    list-style-type: none;
    float: right;
    margin-right: 30px;
}

.footer .leftSide div {
    width: 80px;
    height: 60px;
    background-image: url("/assets/images/141790958.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-left: 20px;
    background-color: white;
    padding-bottom: 200px;
}

.item-services {
    width: 300px;
    height: 250px;
    background-color: black;
    color: white;
    margin-left: 10px;
    margin-top: 15px;
}

.item-services p {
    text-align: center;
    margin-top: 40%;
}

.serviceHeading {
    background-color: white;
    width: 100%;
    padding-top: 50px;
}

.serviceHeading h1 {
    text-align: center;
    background-color: white;
    color:  #0C056D;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media only screen and (max-width: 800px) {
    .mainNav {
       display: none;
    }
}


























