<!DOCTYPE html>
<html>
    <head>
        <title>Olasystems Corporation</title>
        <!-- <base href="https://olasystemscorp.com/" target="_blank"> -->
        <base href="http://olasystemscorp.com/" target="_blank">
        <link href="/assets/app.css" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row navBar">
                <div class="col-md-6">
                    <ul>
                       <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                           <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                           <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                         </svg>447 Broadway, 2nd Floor Suite #2281, New York 10013, USA.</i></li>
                    </ul>
                </div>
                <div class="col-md-3">
                   <ul>
                       <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                           <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                         </svg>+1 (347) 394-3326</li>
                   </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                          </svg>olatunji@olasystemscorp.com </li>
                    </ul>
                 </div>
            </div>
        </div>
        <div class="mainNav">
            <div class="leftSide">
                <div>

                </div>
            </div>
            <div class="rightSide"> 
                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Services</li>
                    <li>Contacts</li>
                </ul>
            </div>
        </div>

        <div class="banner">
            <div class="bannerCover">
                <div class="bannerImage">

                </div>
                
            </div>
       </div>
       

        
        <!-- <div class="mainNav">
            <div class="leftSide">
                <img src=""><img>
            </div>
            <div class="rightSide"> 
                <ul>
                    <li>Home</li>
                    <li>AboutUs</li>
                    <li>Services</li>
                    <li>Contacts</li>
                </ul>
            </div>
        </div> -->

        <!-- <div class="header">
            <ul>
                <li>Home</li>
            </ul>
        </div>

        <div class="banner">
             <div class="bannerCover">
                <h3>Olasystems</h3>
                <p>Software Engineering</p>
             </div>
        </div> -->

        <div class="aboutUsD">
            <h3>WHO WE ARE</h3>
            <br />
            <p>
                Olasystems engages in Business to Business (Corporation to Corporation) consultancy services with small and large scale enterprises
In United States. We do this by providing high quality IT services in Software Engineering to meet the specific needs of clients,
 focusing
on efficiency, innovation and scalability. We conduct software development, design, testing and implementation, while also providing
consulting, training and technical support to clients. We employ a skilled team of  software engineers, designers, project managers, and quality
assurance professionals. We utilise cutting-edge technologies and tools to deliver top notch solutions. Our employees work 
as independent contractors with our clients assigned to them. Our engineers
are sourced majorly in the USA, Europe and United Kingdom, this selection process is according to the needs or requirements
of our clients.  Our drive is so see businesses thrive through software engineering.
        
            </p>

        </div>
        <div class="serviceHeading">
            <!-- <hr/> -->
            <h1>Services</h1>
        </div>
        <div class="services">
            <div class="item-services">
                <p>IT Staffing</p>
            </div>
            <div class="item-services">
                <p>Api Integration</p>
            </div>
            <div class="item-services">
                <p>Microservice Development</p>
            </div>
            <div class="item-services">
                <p>Cloud</p>
            </div>
            <div class="item-services">
                <p>QAAutomated Testing</p>
            </div>
            <div class="item-services">
                <p>Database Administration</p>
            </div>
            <div class="item-services">
                <p>Custom Web Development</p>
            </div>
            <div class="item-services">
                <p>many more ...</p>
            </div>
        </div>

    

        <div class="row footer">
            <div class="leftSide">
                <div>

                </div>
            </div>
            <div class="rightSide"> 
                <ul>
                    <li>Copyright Olasystems 2023</li>
                </ul>
            </div>
        </div>
    </body>
</html>